*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #f1f1f1;
}


section{
    height: 100vh;
    min-height: 1000px;
    font-family: Arial, Helvetica, sans-serif;

}

.acceuil{
    width: 100%;
    background-color: #151B2B;
    color: #FFF;

}

.contenu{
    border : 2px solid transparent;
    max-width: 1300px;
    margin:  0 auto;
}

.acceuil .logo{
    color: #A8A8C1;
    width: 200px;
    margin-top: 40px;
}

.acceuil .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
 
    
}

.acceuil .container-left{
    width: 40%;
}
.acceuil .container-right img{
    width: 100%;
}

.acceuil .container-left h1{

    font-weight: 800;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 24px;
}
.acceuil .text-principal{

    margin: 24px 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;

}

.acceuil .text-secondaire{
    font-size: 16px;
    line-height: 150%;

    color: #8686B3;
}




.acceuil .btn{
    margin-top: 90px;
 
    display: flex;

}

.acceuil .btn a{
    margin-right: 24px;
}
 


/* 2e ecran */


.how-work{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.how-work h1{
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #454658;
    margin-bottom: 24px;
}

.how-work p{

    font-size: 16px;
    line-height: 24px;

    color: #454658;
    margin: 0 35px;
    margin-bottom:  32px ;
}


.usage{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;

    text-align: center;

}


.usage h1{
    font-weight: bold;
    font-size: 32px;   
    line-height: 35px;
    margin-bottom: 17px;

    color: #454658;
}

.usage p{
    font-size: 16px;
    line-height: 24px;
    color: #454658;
    margin-bottom: 150px;
}


/* grid */

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid .contenu{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5% ;

}
.grid .contenu div{

    max-width: 500px;
}
.grid .contenu div h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #454658;
}

.grid .contenu div p{
   
    font-size: 16px;
    line-height: 24px;
    color: #454658;

}

.grid .contenu div a{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #5D64D2;
}


.text-footer{

    font-weight: bold;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: #454658;

    margin : 200px 0;
}

footer{
    width: 100%;
    height: 200px;
    background: #151B2B;
}






/*  scrolltrigger */

section:not(.acceuil){
    opacity: 0;
}





/* responsive */

@media screen and (max-width : 1100px) {
    section{
        height: auto;
    }

    .acceuil .container{
        flex-direction: column;
    }

    .how-work img{
        width: 80%;
    }

    .usage img{
        width: 80%;
    }

    .grid .contenu{
        grid-template-columns: repeat(1, 1fr);
        
    }

    .text-footer{
        margin-top: 300px;
    }

}